.git
.gitignore
.env
.env.example
__pycache__
*.pyc
.ruff_cache
.mypy_cache
.pytest_cache
.venv
tests/
Makefile
README.md
LICENSE
docker-compose*.yml
docker/Dockerfile
docker/Dockerfile.dev
.pre-commit-config.yaml
